@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

h3 {
  color: #3498db;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 10px;
}

h1 {
  color: #2c3e50;
  font-family: "Source Code Pro", monospace;
}

p {
  font-family: "Source Code Pro", monospace;
}

body {
  border: 15px solid #bdc3c7;
  height: 100%;
  width: 40%;
  margin: 20px auto;
}

.art {
  border-bottom: 1px solid black;
  padding: 20px;
}

.art p:first-of-type {
  border-left: 10px solid #bdc3c7;
  padding-left: 5px;
}
